ul.techList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techList li {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 13px;
    margin-bottom: 10px;
}

ul.techList.error li {
    color: red;
    background: rgba(214, 114, 114, 0.413);
    border-color: red;
}

ul.techList.completed li {
    color: green;
    background: rgba(105, 231, 143, 0.8);
     border-color: green;
}